.mat-icon-button {
  border: none;
  background-color: transparent;
}

.breadcrumb-nav {
  padding-top: 1rem;

  ol {
    margin-bottom: 0px;

  }
}

.add-user-btn {
  background-color: #1375b8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}